name: Call Leaderboard Workflow

on:
  pull_request:
    types: [closed]
  pull_request_review:
    types: [submitted]

jobs:
  call-leaderboard:
    uses: pittcsc/workflow/workflows/leaderboard-tracking.yml@main
    with:
      repo: ${{ github.repository }}
