on:
  pull_request_target:
    types: [closed]
  push:
    branches: [main]

permissions:
  contents: write
  actions: read

jobs:
  call-leaderboard:
    if: >
      (github.event_name == 'pull_request_target' && github.event.pull_request.merged == true) ||
      (github.event_name == 'push')
    uses: pittcsc/.github/.github/workflows/leaderboard-tracking.yml@main
    with:
      repo: ${{ github.repository }}
    secrets: inherit